/* Styling - defined font */
@font-face {
    font-family: 'Engcomica';
    src: url('../fonts/Engcomica.OTF') format('truetype'); /* Safari, Android, iOS */
    font-weight: bold;
}
/*********************/

/* Styling - global tags */

html {
    background: #231F20;
}

body {
    font-size: 16px;
    line-height: initial;
    width: 70%;
    min-width: 1300px;
    margin: 5px auto;
    background: #231F20;
}

a {
    color: #21AE4E;
}

a:active {
    color: #FFFFFF;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}
/*************************/

/* Styling - specific tags */
.sh-header .sh-container {
    width: 100%;
    display: inline-flex;
    background: #231F20;
    border-style: solid;
    border-color: #EAB229;
    margin-left: -3px;
}

.sh-header .sh-container .sh-left {
    width: 15%;
    float: left;
}

.sh-header .sh-container .sh-center {
    width: 70%;
    margin: auto;
    display: inline;
    text-align: center;
}

.sh-header .sh-container .sh-center .title {
    font-size: 8.3em;
    font-weight: bold;
    font-family: Engcomica;
    color: #EAB229;
}

.sh-header .sh-container .sh-right {
    width: 15%;
    float: right;
}

.sh-header .sh-container .sh-right a {
    float: right;
}

.sh-header .sh-container img {
    height: 120px;
    margin: 10px 25px;
}

.sh-header .sh-menu {
    height: 42px;
}

.sh-header .sh-menu .sh-sub {
    float: left;
    width: 9.09%;
    text-align: center;
    padding: 8px 0;
    background: #231F20;
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 1px 1px #0088CC;
}

/* Styling - customizing ui-bootstrap */
.sh-body .sh-container .container {
    width: 100%;
    text-align: center;
    background: #231F20;
}

.sh-body .sh-container .container .offsetspan6 {
    display: inline-block;
    float: none;
    margin: 5px 0px 0px 0px;
}

.sh-body .sh-container .container .offsetspan6 .carousel {
    margin: 0;
}

.sh-body .sh-container .container .offsetspan6 .carousel .carousel-indicators li {
    background: #EAB229;
}

.sh-body .sh-container .container .offsetspan6 .carousel .carousel-indicators .active {
    background: #AFEEEE;
}

.carousel-caption {
    margin: 3px;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s;
}

.carousel-caption:hover {
    visibility: visible;
    opacity: 1;
}

character:hover +.carousel-caption {
    visibility: visible;
    opacity: 1;
}

concept:hover +.carousel-caption {
    visibility: visible;
    opacity: 1;
}

/* Styling - images */
.sh-portrait {
    width: 750px;
    height: 1000px;
    max-width: initial;
    text-align: center;
    margin: auto;
    border: solid;
    border-color: #EAB229;
}

.sh-landscape {
    width: 1250px;
    height: 1000px;
    max-width: initial;
    text-align: center;
    margin: auto;
    border: solid;
    border-color: #EAB229;
}

/* Styling - specific tags - details */
.small {
    font-size: 0.7em;
}

.big {
    font-size: 1.5em;
}

.nobig {
    font-size: 0.9em;
}

.bold {
    font-weight: bold;
}

.nobold {
    font-weight: normal;
}

p.car-cap {
    margin-bottom: 5px;
}

.carousel .aqm {
    color: aquamarine;
}

.carousel-caption .distant {
    margin: 3px 0;
}

.separate {
    margin: 5px 0px;
}
/*************************/

/* Styling - API pages */
.categories {
    width: 50%;
    margin: 1px auto;
}

.even-category .category-container {
    padding: 5px;
    border-style: solid;
    background: #EAB229;
    border-color: #22AE4E;
}

.even-category .category-container .category-data .category-name {
    margin-bottom: 10px;
}

.even-category .category-container .category-data .category-name a {
    color: white;
}

.odd-category .category-container {
    padding: 5px;
    border-style: solid;
    background: #22AE4E;
    border-color: #EAB229;
}

.odd-category .category-container .category-data .category-name {
    margin-bottom: 10px;
}

.odd-category .category-container .category-data .category-name a {
    color: white;
}

.categories .category-image {
    float: left;
    margin-right: 6px;
}

.categories .category-image img {
    width: 120px;
    height: 160px;
}
/*************************/
