<div class="container-404">
    <div class="data-404">
        <h1>Not found <span>:(</span></h1>
        <p>Sorry, but the page you were trying to view does not exist.</p>
        <p>It looks like this was the result of either:</p>
        <div class="ul-404">
            <ul>
                <li>a mistyped address</li>
                <li>an out-of-date link</li>
            </ul>
        </div>
        <p>Please, try changing your url.</p>
        <p>Sorry for the inconvenience.</p>
    </div>
</div>
