html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
}

.container {
    height: 62px;
    max-width: 700px;
    margin: 0 auto;
}

.header {
    background-color: #000;
}

.header h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    font-weight: 200;
    color: #fff;
    margin: 0;
    padding: 7px 0;
}

.logo-small {
    width: 60px;
    height: 60px;
    float: left;
    padding-top: 1px;
    margin-right: 10px;
}

.member {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
}

.member .member-general {
    color: #CC0000;
}

.member .member-image {
    margin-right: 5px;
    float: left;
}

.member mug-shot {
    display: none;
}

.member .separated {
    margin-top: 24px;
    margin-bottom: 48px;
}

.member .bio {
    float: left;
}

.member h3 {
    font-size: 16px;
    margin-top: 0;
    display: inline;
}

.member p {
    font-size: 14px;
}

.member p + img {
    width: 100%;
    margin-bottom: 15px;
}

.btn {
    color: #333;
    border-color: #ccc;
    background-color: transparent;
    font-weight: 600;
    width: 100px;
}

.facing .btn {
    background-color: #CC0000;
    border-color: #B20000;
    color: #fff;
}

.btn:focus {
    outline: 0;
}
